force-app/main/default/flows/CreateEventForLeadFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsLeadExists</name>
        <label>IsLeadExists</label>
        <locationX>95</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsLeadExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEvent</targetReference>
            </connector>
            <label>IsLeadExistsTrue</label>
        </rules>
    </decisions>
    <interviewLabel>CreateEventForLeadFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateEventForLeadFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>94</locationX>
        <locationY>370</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCalendlyAction.EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>NewCalendlyAction.EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteeUuid__c</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LeadOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>NewCalendlyAction.EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewCalendlyAction.EventSubject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordLookups>
        <name>LeadLookup</name>
        <label>LeadLookup</label>
        <locationX>95</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLeadExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.ObjectId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>LeadLookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCalendlyAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>NewLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SysAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SysAdminProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
