force-app/main/default/flows/CreateOrUpdateLeadOrContactFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>SetDefaultLeadLastName</name>
        <label>SetDefaultLeadLastName</label>
        <locationX>854</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotProvided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadLastName</name>
        <label>SetLeadLastName</label>
        <locationX>444</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LeadLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCalendlyAction.InviteeLastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadLastNameExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOwner</name>
        <label>SetOwner</label>
        <locationX>568</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordExists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContactExists</name>
        <label>ContactExists?</label>
        <locationX>305</locationX>
        <locationY>66</locationY>
        <defaultConnector>
            <targetReference>LeadLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ContactExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PublisherLookup</targetReference>
            </connector>
            <label>ContactExistsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConvertedContactExists</name>
        <label>ConvertedContactExists?</label>
        <locationX>665</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>PublisherLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ConvertedContactExistsFalse</defaultConnectorLabel>
        <rules>
            <name>ConvertedContactExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertedContactLookup</targetReference>
            </connector>
            <label>ConvertedContactExistsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadLastNameExists</name>
        <label>LeadLastNameExists?</label>
        <locationX>575</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>SetDefaultLeadLastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LeadLastNameExistsFalse</defaultConnectorLabel>
        <rules>
            <name>LeadLastNameExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadLastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewLead</targetReference>
            </connector>
            <label>LeadLastNameExistsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>PublisherExists</name>
        <label>PublisherExists?</label>
        <locationX>318</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>RecordOwnerExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PublisherExistsFalse</defaultConnectorLabel>
        <rules>
            <name>PublisherExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordExists</targetReference>
            </connector>
            <label>PublisherExistsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordExists</name>
        <label>RecordExists?</label>
        <locationX>201</locationX>
        <locationY>749</locationY>
        <defaultConnector>
            <targetReference>SetLeadLastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordExistsFalse</defaultConnectorLabel>
        <rules>
            <name>RecordExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEvent</targetReference>
            </connector>
            <label>RecordExistsTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordOwnerExists</name>
        <label>RecordOwnerExists?</label>
        <locationX>568</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>SysAdminProfileLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordOwnerExistsFalse</defaultConnectorLabel>
        <rules>
            <name>RecordOwnerExistsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOwner</targetReference>
            </connector>
            <label>RecordOwnerExistsTrue</label>
        </rules>
    </decisions>
    <description>Changed company name.</description>
    <interviewLabel>CreateOrUpdateLeadOrContactFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOrUpdateLeadOrContactFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateEvent</name>
        <label>CreateEvent</label>
        <locationX>201</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewCalendlyAction.EventDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>NewCalendlyAction.EventEndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InviteeUuid__c</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeUuid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>NewCalendlyAction.EventStartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewCalendlyAction.EventSubject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewLead</name>
        <label>CreateNewLead</label>
        <locationX>855</locationX>
        <locationY>844</locationY>
        <assignRecordIdToReference>RecordId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>NewCalendlyAction.CustomResponse1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NewCalendlyAction.InviteeFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LeadLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>ContactLookup</name>
        <label>ContactLookup</label>
        <locationX>180</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>ConvertedContactLookup</name>
        <label>ConvertedContactLookup</label>
        <locationX>959</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PublisherLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LeadLookup</name>
        <label>LeadLookup</label>
        <locationX>539</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConvertedContactExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.InviteeEmail__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>PublisherLookup</name>
        <label>PublisherLookup</label>
        <locationX>187</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PublisherExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCalendlyAction.EventPrimaryPublisherEmail__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SysAdminLookup</name>
        <label>SysAdminLookup</label>
        <locationX>845</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SysAdminProfileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SysAdminProfileLookup</name>
        <label>SysAdminProfileLookup</label>
        <locationX>844</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SysAdminLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>SysAdminProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>ContactLookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCalendlyAction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendlyAction__c</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SysAdminProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
