force-app/main/default/flows/If_Expiration_Date_is_Less_than_Today_then_Update_Insurance_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Expiration_Date_Less_than_Today_date</name>
        <label>Check Expiration Date Less than Today date</label>
        <locationX>612</locationX>
        <locationY>403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Expiration_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Insurance_Value</targetReference>
            </connector>
            <label>check Expiration date</label>
        </rules>
    </decisions>
    <interviewLabel>If Acti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>If Expiration Date is Less than Today then Update Insurance Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Insurance_Value</name>
        <label>Update Insurance Value</label>
        <locationX>616</locationX>
        <locationY>615</locationY>
        <inputAssignments>
            <field>Insurance_Attachment_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Upload_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Expiration_Date_Less_than_Today_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
