force-app/main/default/flows/Update_Activity_in_Mlog_as_Uncategorized_for_trips.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout_for_update_activity_status_on_mlog</name>
        <label>Callout for update activity status on mlog</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <actionName>UpdateActivityStatusInMlog</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Update_activity_status_on_mlog</name>
        <label>Update activity status on mlog</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Callout_for_update_activity_status_on_mlog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmployeeReimbursement__r.Contact_Id__r.Driving_States__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Trip_Origin_State__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmployeeReimbursement__r.Contact_Id__r.Driving_States__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Trip_Destination_State__c</elementReference>
                </rightValue>
            </conditions>
            <label>Update activity</label>
        </rules>
    </decisions>
    <interviewLabel>Update Activity in Mlog as {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Activity in Mlog as Uncategorized for trips</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_activity_status_on_mlog</targetReference>
        </connector>
        <object>Employee_Mileage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
