force-app/main/default/flows/Update_Address_lookup_field_on_Contact_based_on_state_city_and_zip_value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_get_address_record_size</name>
        <label>check get address record size</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>If_Not_get_any_Address_Record_then_create_new_address_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_address_size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Address_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_Lookup_field_on_Contact</targetReference>
            </connector>
            <label>check address size</label>
        </rules>
    </decisions>
    <formulas>
        <name>zipcodecitystate</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.MailingCity} != null, TRIM({!$Record.MailingCity})&amp; &apos;#&apos; &amp; TRIM( {!$Record.MailingState}) &amp; &apos;#&apos; &amp; {!$Record.MailingPostalCode} , null)</expression>
    </formulas>
    <interviewLabel>Update Address lookup field on Contact based on state city and zip value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Address lookup field on Contact based on state city and zip value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>If_Not_get_any_Address_Record_then_create_new_address_record</name>
        <label>If Not get any Address Record then create new address record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>after_adding_new_record_assign_those_address_value_on_contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Abbreviation__c</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZIP_Code__c</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZipcodeCityState__c</field>
            <value>
                <elementReference>zipcodecitystate</elementReference>
            </value>
        </inputAssignments>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Address_record</name>
        <label>Get Address record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_get_address_record_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Abbreviation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>ZIP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>after_adding_new_record_assign_those_address_value_on_contact</name>
        <label>after adding new record assign those address value on contact</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>If_Not_get_any_Address_Record_then_create_new_address_record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address_Lookup_field_on_Contact</name>
        <label>Update Address Lookup field on Contact</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Get_Address_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Address_record</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
