force-app/main/default/flows/Update_Insurance_Fields_record_triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Driver_Is_Using_Triplog</name>
        <label>Driver Is Using Triplog</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUsing_Triplog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.isUsingTriplog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expiration_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Insurance_Value</targetReference>
            </connector>
            <label>isUsing Triplog</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Insurance Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Insurance Fields record triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Insurance_Value</name>
        <label>Update Insurance Value</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Insurance_Attachment_Id__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Upload_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Driver_Is_Using_Triplog</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND 3) AND 4</filterLogic>
        <filters>
            <field>Deactivated_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Expiration_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
