force-app/main/default/flows/Weekly_Time_Sheet_for_Not_Confirm_by_Driver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Weekly_TimeSheet_Not_Confirm_Reminder</name>
        <label>Weekly TimeSheet Not Confirm Reminder</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PartTimefulltime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact__r.External_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>driverservices@mburse.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Weekly Time Sheet</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_for_Ermi_ccount</name>
        <label>Check for Ermi ccount</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ermi_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001i000001LwNSmAAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Confirm_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Today_minus_2</targetReference>
            </connector>
            <label>Ermi Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>today - 2 means it is consider as saturday&apos;s date which is end date of biweekly reimbursement</description>
        <name>Today_minus_2</name>
        <label>Today minus 2</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_date_minus_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EndDateMinus2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Weekly_TimeSheet_Not_Confirm_Reminder</targetReference>
            </connector>
            <label>End date minus 2</label>
        </rules>
    </decisions>
    <formulas>
        <description>Biweekly Reimbursement end date 1 2 days 
so this is a date of consider as saturday date</description>
        <name>EndDateMinus2</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 2</expression>
    </formulas>
    <interviewLabel>Weekly Time Sheet for Not Confirm by Driver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weekly Time Sheet for Not Confirm by Driver</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Ermi_ccount</targetReference>
        </connector>
        <object>Bi_Weekly_Reimbursement__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-04-24</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PartTimefulltime</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;Hi {!$Record.Contact__r.FirstName}, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;You have not selected this link&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://mburse.force.com/app/adminlogin&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;HERE&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;&amp;nbsp;on a computer or tablet to confirm or correct your weekly time and mileage for the week of {!$Record.Name} please do so before 12:00 pm Tuesday.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: &amp;quot;Times New Roman&amp;quot;; font-size: medium;&quot;&gt;The mBurse Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://mburse.file.force.com/sfc/servlet.shepherd/version/download/0683r00000DaoOZ?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Logo.jpeg&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
